<style>
  @media only screen and (max-width: 768px) {
    .form_form{
      position: absolute;
      z-index: 555;
      background: #F9FAFE;
      padding: 5rem;
      border-radius: 10px;
    }
    .act_main{
      align-items: center;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 425px) {
    .form_form{
      position: absolute;
      z-index: 555;
      background: #F9FAFE;
      padding: 2rem;
      border-radius: 10px;
    }
    .act_main{
      align-items: center;
      justify-content: center;
    }
  }
  a {
    text-decoration: none!important;
  }
</style>

<% form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<% render "devise/shared/links" %>

<div class="d-flex act_main">
  <div class="col">
    <%= image_tag "https://ui-cdn.digitalocean.com/registration/e79a24c/static/media/new-brand-bg.2dc399f21f810914b7ca.png", :style => 'width: 100%; height: 100vh; object-fit: cover;' %>
  </div>
  <div class="col d-flex flex-column align-items-center justify-content-center form_form">
    <h2 class="mb-4 serif" >Bem vindo!</h2>
    <div class="main_login">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control mb-3' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control mb-4' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control mb-4' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", :class => 'w-100 btn btn-primary mb-4' %>
        </div>
      <% end %>

      <div class="d-flex flex-column align-items-center">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>