<p id="notice"><%= notice %></p>

<h1>Banners</h1>

<table>
  <thead>
    <tr>
      <th>Active</th>
      <th>Order</th>
      <th>Name</th>
      <th>Image</th>
      <th>Resume</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= banner.active %></td>
        <td><%= banner.order %></td>
        <td><%= banner.name %></td>
        <td><%= banner.image %></td>
        <td><%= banner.resume %></td>
        <td><%= banner.description %></td>
        <td><%= link_to 'Show', banner %></td>
        <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_banner_path %>
