<div id="<%= dom_id contact %>" class="d-flex">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p class="ms-3">
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p class="ms-3">
    <strong>Subject:</strong>
    <%= contact.subject %>
  </p>

  <p class="ms-3">
    <strong>Message:</strong>
    <%= contact.summary %>
  </p>

  <p class="ms-3">
    <strong>Status:</strong>
    <%= contact.status %>
  </p>

</div>